div {
    color: black;
    img.icon_images {
        margin: 0 auto;
        vertical-align: middle;
    }
}

.icon-images {
    text-align: center;
    img {
        height: 200px;
        width: auto;
    }
}

.form-pad {
    padding-top: 10%;
}

.center-modal {
    text-align: center;
}

.btn.btn-outline-dark.active {
    background-color: rgba(52,58,64,0.3)!important;
}