<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">
      Details
    </h4>
    <button type="button" class="close" aria-label="close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <form id="sizeFinderModalForm" [formGroup]="sizeFinderModalForm" class="form-group">
    <div class="modal-body">
      <div *ngIf="page == 1">
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="gender" formControlName="gender">
          <label ngbButtonLabel class="btn-primary active">
            <input ngbButton type="radio" value="MALE"><fa name="mars"></fa>
          </label>
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" value="FEMALE"><fa name="venus"></fa>
          </label>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6">
                  <img class="icon-images" src="assets/img/man-height.svg">
              </div>
              <div class="col-sm-6">
                <!-- <img *ngIf="gender == FEMALE" class="icon-images" src="assets/img/woman-height.svg"> -->
                <label for="height">
                  Height:
                </label>
                <select formControlName="height" class="form-control">
                  <option *ngFor="let height of heights" [ngValue]="height">{{ height }} cm</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6">
                <img class="icon-images" src="assets/img/body-weight.png">
              </div>
              <div class="col-sm-6">
                <label for="weight">
                  Weight:
                </label>
                <select formControlName="weight" class="form-control">
                  <option *ngFor="let weight of weights" [ngValue]="weight">{{ weight }} kg</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6">
                <img class="icon-images" src="assets/img/age.svg">
              </div>
              <div class="col-sm-6">
                <label for="age">
                  Age:
                </label>
                <select formControlName="age" class="form-control">
                  <option *ngFor="let age of ages" [ngValue]="age">{{ age }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="page == 2">
        <label for="body_shape">
          Body shape:
        </label>
        <br>
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="body_shape" formControlName="body_shape">
          <label ngbButtonLabel class="btn btn-outline-dark">
            <input ngbButton type="radio" value="EGG">
            <img *ngIf="gender == MALE" class="img-responsive" src="assets/img/men_apple.png">
            <!-- <img *ngIf="gender == FEMALE" class="img-responsive" src="assets/img/women_apple.png"> -->
          </label>
          <label ngbButtonLabel class="active btn btn-outline-dark">
            <input ngbButton type="radio" value="BOX">
            <img *ngIf="gender == MALE" class="img-responsive" src="assets/img/men_box.png">
            <!-- <img *ngIf="gender == FEMALE" class="img-responsive" src="assets/img/women_box.png"> -->
          </label>
          <label ngbButtonLabel class="btn btn-outline-dark">
            <input ngbButton type="radio" value="V">
            <img *ngIf="gender == MALE" class="img-responsive" src="assets/img/men_v-shape.png">
            <!-- <img *nglse="gender == FEMALE" class="img-responsive" src="assets/img/women_v-shape.png"> -->
          </label>
        </div>
      </div>
      <div *ngIf="page == 3">
        <h3>Your size is:</h3>
        <h4>{{ size }}</h4>
      </div>
    </div>
    <div class="modal-footer">
      <button *ngIf="page == 1" type="button" class="btn btn-outline-dark" (click)="nextPage()">Next</button>
      <button *ngIf="page == 2" type="button" class="btn btn-outline-dark" (click)="previousPage()">Previous</button>
      <button *ngIf="page == 2" type="submit" class="btn btn-outline-dark" (click)="onSubmit()">Get my size!</button>
      <button *ngIf="page == 3" type="button" class="btn btn-outline-dark" (click)="modal.close()">Finish</button>
    </div>
  </form>
</ng-template>