<div class="row">
  <div class="container thin-form">
    <form id="sizeFinderForm" [formGroup]="sizeFinderForm" (ngSubmit)="onSubmit()" class="form-group">
      <label for="product">
        Product code:
      </label>
      <input type="text" formControlName="product" class="form-control" placeholder="code">
      <br>
      <label for="language">
        Language:
      </label>
      <input type="text" formControlName="language" class="form-control" placeholder="language">
      <br>
      <button id="btnSubmitSizeFinder" [disabled]="!sizeFinderForm.valid" type="submit" class="btn btn-primary">Show my size</button>
    </form>
  </div>
  <app-size-finder-modal #modal></app-size-finder-modal>
</div>
