@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~font-awesome/css/font-awesome.css";

body {
    background-color: #333;
    color: #fff;
}

hr {
    border-color: #fff;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 60%;
        margin: 1.75rem auto;
        width: auto;
    }

    div img {
        text-align: center;
    }
}